<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <Title>Login</Title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="module-login">
    <h1>Login</h1>
    Hello {{ name }}
    <form action="login.php" method="post">
        <label for="email">Email</label>
        <input name="email" type="text" id="email">
        <label for="password">Password</label>
        <input name="password" type="password" id="password">
        <button type="submit">Log In</button>
    </form>
    <a class="link" href="register.html">Not registered?</a>
</div>
</body>
</html>