{% extends "./utils/base.twig" %}

{% block content %}
    <main class="w-75 mx-auto mt-5">
        <section class=" m-0 ">
            <h1 class="my-3">{{ userNameProfile }} {{ userLastNameProfile }}</h1> <!-- change to fetch stuff and not from session so reusable-->
            <img class=" mt-2 rounded" src="../../asset/{{ userPicProfile }}" style="height: 250px; width: 250px;">
        </section>
      <!--  <section class="d-flex gap-3 mt-4">
            <div class="container m-0 p-4 bg-white rounded shadow-sm"><p>idclkw</p></div>
            <div class="d-flex flex-column container gap-2">
                <div class="container p-4 bg-white rounded shadow-sm">fqw</div>
                <div class="container p-4 bg-white rounded shadow-sm">wqffwe</div>
            </div>
        </section>-->
        <section class="d-flex flex-column gap-3 my-4">

             {% include "./module/commentSection.twig" %}
        </section>
    </main>
<script type="text/javascript" src="script/handlePostAction.js"></script>
{% endblock %}
