<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/comments.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-primary bg-opacity-10">
<header class="d-flex justify-content-end bg-primary p-3">
    <div class="btn-group">
        <button type="button" class="btn text-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userName }}<img class="profile-pic ms-3" src="../asset/{{ userPic }}">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/setting">Setting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-primary text-decoration-none" href="/logout">Logout</a>
        </div>
    </div>
</header>
<main class="w-75 mx-auto">
    <form class= "mt-5 p-5 bg-white rounded shadow-sm" action="/settings/update" method="post" enctype="multipart/form-data">
        <p>Change Profile picture</p>
        <div class="d-flex align-self-center">
            <input type="file" class="rounded px-3 py-2 border-1 form-control input-lg" name="uploadfile" value="">
            <input class="ms-2 px-4 py-2 btn btn-primary" type="submit" value="Change Profile Picture">
        </div>
    </form>
</main>
<script type="text/javascript" src="script/dashboard.js"></script>
</body>
</html>