{% extends "./utils/base.twig" %}

{% block content %}
<main class="w-75 mx-auto">
    <form class= "mt-5 p-5 bg-white rounded shadow-sm" action="/settings/update" method="post" enctype="multipart/form-data">
        <h5 class="mb-3">Change Profile picture</h5>
        <div class="d-flex align-self-center">
            <input type="file" class="rounded px-3 py-2 border-1 form-control input-lg" name="uploadfile" value="">
            <input class="ms-2 px-4 py-2 btn btn-primary" type="submit" value="Change Profile Picture">
        </div>
        <p class="ms-1 mt-2 small">Valid file format are: .png, .jpeg</p>
    </form>
</main>
{% endblock %}
